<h1>Perfil<h1>
<h2>Nome</h2>
<%=current_user.name%>
<h2>Email</h2>
<%=current_user.email%>
<h2>Telefone</h2>
<%=current_user.phone%>
<h2>Cidade<h2>
<%=current_user.city%>
<h2>Estado</h2>
<%=current_user.state%>
<%=link_to 'Editar' , edit_user_registration_path %> 