<div class="container mt-4">
  <% if !@received_proposals.present? && !@sent_proposals.present? %>
    <div class="panel">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger">
            Você não possuí nenhuma proposta.
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @received_proposals.present? %>
    <div class="panel mt-4">
      <h1>Propostas recebidas</h1>
      <% @received_proposals.each do |p| %>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card product-item" id='card-proposal<%= p.id %>'>
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p class="card-text">
                  Meu produto: <%= p.desired.title if p.desired %>
                  </p>
                </li>
                <li class="list-group-item">
                  <p class="card-text">
                  Produto oferecido: <%= p.offered.title if p.offered %>
                  </p>
                </li>
                <li class="list-group-item">
                  <p class="card-text">
                  <strong><%= number_to_currency(p.price) %></strong>
                  </p>
                </li>
              </ul>
              <%= link_to 'Ver Detalhes', p, class: 'btn btn-primary mt-2 mb-2 ml-2'  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @sent_proposals.present? %>
    <div class="panel mt-4">
      <h1>Propostas enviadas</h1>
      <% @sent_proposals.each do |p| %>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card product-item" id='card-proposal<%= p.id %>'>
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p class="card-text">
                  Produto desejado: <%= p.desired.title if p.desired %>
                  </p>
                </li>
                <li class="list-group-item">
                  <p class="card-text">
                  Produto oferecido: <%= p.offered.title if p.offered %>
                  </p>
                </li>
                <li class="list-group-item">
                  <p class="card-text">
                  <strong><%= number_to_currency(p.price) %></strong>
                  </p>
                </li>
              </ul>
              <%= link_to 'Ver Detalhes', p, class: 'btn btn-primary mt-2 mb-2 ml-2'  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
