<div class="container">
  <div class="proposal">
    <div class="panel">
      <div class="panel-body">
        <div class="row justify-content-md-center pt-5">
          <div class="col-3">
            <%= image_tag(@proposal.desired.photo.url(:thumb), class: 'img-thumbnail') %>
            <h3 class="mt-3"><%= @proposal.desired.title %></h3>
            <p><%= @proposal.desired.category.name %></p>
            <p><%= @proposal.desired.condition.name %></p>
            <p><%= number_to_currency @proposal.desired.price %></p>
          </div>
          <div class="col-2 col-md-offset-2"><%= image_tag 'setinha.jpg', class: 'mx-auto' %></div>
          <div class="col-3 col-md-offset-2">
            <% if @proposal.offered %>
              <%= image_tag(@proposal.offered.photo.url(:thumb), class: 'img-thumbnail') %>
              <h3 class="mt-3"><%= @proposal.offered.title %></h3>
              <p><%= @proposal.offered.category.name %></p>
              <p><%= @proposal.offered.condition.name %></p>
              <p><%= number_to_currency @proposal.offered.price %></p>
            <% else %>
              <%= image_tag 'dinheiro.jpg' %>
              <p>Troca por Dinheiro</p>
              <p><%= number_to_currency @proposal.price %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel mt-5">
    <div class="panel-body">
      <div class="row">
        <div class="col-12">
          <h2>Detalhes da Proposta #<%= @proposal.id %></h2>
          <p>Enviada em: <%= l @proposal.date %></h1></p>
          <p>
          Enviada por <strong><%= @proposal.sender.name %></strong> (<em><%= @proposal.sender.email %></em>)<br><%= @proposal.sender.city %>
        Telefone: <%= @proposal.sender.phone %>
          </p>
          <p>
          <b>Quem recebe:</b> <%= @proposal.receiver.name %>, email: 
          <%= @proposal.receiver.email %>, cidade: <%= @proposal.receiver.city %>,
          telefone: <%= @proposal.sender.phone %>
          </p>
          <p><b>Status:</b> <%= t @proposal.status %></p>
        </div>
      </div>

      <% if @proposal.receiver == current_user && @proposal.pending? %>
        <%= link_to 'Aceitar', proposal_accept_path(@proposal), method: :post, class: 'btn btn-lg btn-success' %>
      <% end %>
    </div>
  </div>
</div>


