<% if @product.errors.any? %>
    <p>Você deve preencher todos os campos do produto</p>
<% end %>

<%= simple_form_for @product do |f| %>
    <%= f.input :photo %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.association :category %>
    <%= f.association :condition %>
    <%= f.collection_radio_buttons :negotiation, [['trade', 'Troca'], ['sale', 'Venda'], ['both', 'Ambos']], :first, :last %>
    <%= f.input :price %>
    <%= f.submit btn_text %>
<% end %>
