<h1>Anunciar produto</h1>

<%= simple_form_for @product do |f| %>
    <%= f.input :photo, label: 'Foto' %>
    <%= f.input :title, label: 'Título' %>
    <%= f.input :description, label: 'Descrição' %>
    <%= f.association :category, label: 'Categoria' %>
    <%= f.association :condition, label: 'Condição' %>
    <%= f.collection_check_boxes :negotiation, [[1, 'Troca']], :first, :last %>
    <%= f.collection_check_boxes :negotiation, [[2, 'Venda']], :first, :last %>
    <%= f.input :price, label: 'Preço' %>
    <%= f.submit 'Anunciar' %>
<% end %>